h1 {
    color:blueviolet
}
body{
    margin: 0px;
    display: flex;
    background-color: #add8e6;
    justify-content: center;
    font-family: PT Sans, sans-serif;
}
#header {
    width: 1024px;
    height: 150px;
    background-color: rgb(113, 198, 227);
    display: flex;
    border: 2px solid blueviolet;
    justify-content: left;
    font-family: PT Sans light, sans-serif;
    font-size: 40px;
    
}
#personal_logo {
padding: 25px;
height: 125px;
width: 125px;
}
/* nav */
#nav_buttons {
    top: 0px;
    display:flex;
    width: 1024px;
    height: 45px;
    background-color: rgb(113, 198, 227);
    border: 2px solid blueviolet;
    font-family: PT Sans light, sans-serif;
    font-size: 35px;
    position: sticky;
    justify-content: space-around;
    border-top: 0px;
}
#nav_button {
    font-size: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 30px;
    border: 2px solid blueviolet;
    border-top: 0px;
    border-bottom: 0px;
}


/* main */
#main_container {
    width: 1024px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* ABOUT ME SECTION */
#about_me {
    margin-top: 40px;
    height: 450px;
    width: 1022px;
    border: 2px solid blueviolet;
    justify-content: space-around;
    align-self: center;
}

#picture_of_amber {
    height: 450px;
    width: 450px;
    float: left;
}

#photo_of_amber {
    height: 450px;
    width: 450px;
}


#about_amber {
    order: 2;
    height: 430px;
    width: 552px;
    align-items: center;
    background-color: rgb(113, 198, 227);
    flex-shrink: 5;
    padding: 10px;
    text-align: center;
    float: right;
}
#about_title {
    margin-top: 60px;
    font-size: 50px;
    color: blueviolet;
    font-family: PT Sans, sans-serif;
}
#about_text {
    margin-top: 60px;
    font-size: 25px;
    color: blueviolet;
    font-weight: lighter;
    font-family: PT Sans, sans-serif;
}

/* PORTFOLIO SECTION */

#PORTFOLIO {
  margin-top: 40px;  
}

#portfolio_title {
    font-size: 50px;
    color: blueviolet;
    font-family: PT Sans, sans-serif;
    text-align: center;
}

#portfolio_item_title {
    font-size: 40px;
    color: blueviolet;
    font-family: PT Sans, sans-serif;
    text-align: center;
    margin:0px;
    padding:0px;
}
#portfolio_item_desc {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    color: blueviolet;
    font-family: PT Sans, sans-serif;
    text-align: center;
}

/* grateful mashup */
#grateful_mashup {
    margin-top: 40px;
    height: 135px;
    width: 1022px;
    align-self: center;
}

#grateful_mashup_text {
    float:right;
    text-align: right;
    width: 500px;
}

#grateful_mashup_img {
    float:left;
    background-color: transparent;
}

/* mailbox */
#mailbox {
    margin-top: 20px;
    height: 135px;
    width: 1022px;
}
#mailbox_text {
    margin-top: 120px;
    float:left;
    text-align: left;
    width: 500px;
}
#mailbox_img {
    float:right;
}

/* cat guitar */
#cat_guitar {
    margin-top: 0px;
    height: 135px;
    width: 1022px;
}

#cat_guitar_text {
    margin-top: 40px;
    float:right;
    text-align: right;
    width: 400px;
}

#cat_guitar_img {
    float:left;
    margin-top: 216px;
}
/* dead poster */
#dead_poster {
    margin-top: 20px;
    height: 135px;
    width: 1022px;
}
#dead_poster_text {
    margin-top: 120px;
    float:left;
    text-align: left;
    width: 500px;
}
#dead_poster_img {
    float:right;
    height: 750px;
    width: 500px;
}

/* CONTACT ME SECTION */
#contact {
    width: 1024px;
    height: 350px;
    background-color: rgb(113, 198, 227);
    margin-top: 40px;
    border: 1px solid blueviolet;
    font-family: PT Sans light, sans-serif;
    font-size: 40px;
    margin-top: 1520px;
    justify-content: center;
}
#contact_title {
    margin-top: 60px;
    font-size: 50px;
    color: blueviolet;
    font-family: PT Sans, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
#contact_text {
        margin-top: 0px;
        font-size: 25px;
        color: blueviolet;
        font-family: PT Sans, sans-serif;
        text-align: center;
        font-weight: lighter;
        padding: 20px;
}